<mat-tab-group>
  <mat-tab label="Главная">
    <p>Тут должно быть что-то типа приветствия :)</p>
  </mat-tab>
  <mat-tab label="О нас">
    <p>Тут должна быть какая-то информация о нас</p>
  </mat-tab>
  <mat-tab label="Магазин">
    <p>Тут должна быть какая-то информация о наших товарах, но их пока еще не завезли</p>
  </mat-tab>
  <mat-tab label="Контакты">
    <p>Свяжитесь с нами по адресу:</p>
    <address>
      Email: info@example.com<br>
      Телефон: +88005553535<br>
      Адрес: 1234 Улица, г. Саранск, Россия
    </address>
  </mat-tab>
</mat-tab-group>


<router-outlet></router-outlet>