<ng-container *ngTemplateOutlet="tableTemplate"></ng-container>

<ng-template #tableTemplate>
    <table>
      <thead>
        <tr>
          <th>Марка</th>
          <th>Модель</th>
          <th>Год выпуска</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Toyota</td>
          <td>Camry</td>
          <td>2022</td>
        </tr>
        <tr>
          <td>Subaru</td>
          <td>Impreza</td>
          <td>2021</td>
        </tr>
        <tr>
          <td>BMW</td>
          <td>M5</td>
          <td>2021</td>
        </tr>
        <tr>
          <td>Mersedes</td>
          <td>S63</td>
          <td>2021</td>
        </tr>
        <tr>
          <td>Suzuki</td>
          <td>Without model</td>
          <td>2021</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  
  