<div class="forms">
  <h1>Заполните форму</h1>
    <div class="form-group">
      <label for="fullName">ФИО</label>
      <input type="text" id="fullName" name="fullName" class="form-control">
    </div>
    <div class="form-group">
      <label for="phoneNumber">Ваш телефон</label>
      <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Ваша почта</label>
      <input type="email" id="email" name="email" class="form-control">
    </div>
    <button (click)="showNotification()">Отправить</button>
</div>